<div class = "body">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div>
      <a href="#" class="navbar-brand">FORMULARIO</a>
    </div>
    <button mat-button></button>

    <div class="navbar-nav mr-auto">
      <li class="navbar-item-login">
        <a routerLink="tutorials" class="nav-link"></a>
      </li>
    </div>
  </nav>
  <div class="login">
    <h1 class = "title">Log in</h1>

    <form (ngSubmit)="onlogin()" method="post">
    <p>
    <mat-form-field appearance="outline">
      <mat-label>Nombre de usuario</mat-label>
      <input type="text" matInput [(ngModel)]="usuari" placeholder="Username" name="username">
    </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input type="password" matInput [(ngModel)]="contrasenya" placeholder="**********" name="password">
      </mat-form-field>
    <p>
    <button type = "submit">Enviar</button>
    </form>

    <router-outlet></router-outlet>
  </div>
</div>

